.title {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */ 
}

.title::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/* .cardLink {
  position: absolute;
  top: 0px;
  left: 0px;
}

.boxContainer {
  position: relative;
} */